/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****************************************************************** 
                     DEFAULTS - Mobile First
******************************************************************/

.container{
    margin:0 auto;
    width:100%;
    background-color:white;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;   
}

header{
    background-color: #222222;
    padding:10px;
}

.logo-start{
    background: #c78b07;
    padding:10px;
}

.header-image{
    background-image: url(images/main-banner);
    width: 100%;
}

nav{
    font-size: 1rem;
    background-color: #222222;
    display: block;
    text-align:center;
    line-height: 3rem;
}

ul a{
    color:#c78b07;
    text-decoration: none;
}
#search{
    margin-bottom:10px;
    width:90%;
    height:30px;
}

h1{
    color:white;
    font-size: 2.8rem;
    font-weight:600;
    line-height:4rem;
}

h2{
    font-size:2.5rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom:10px;
    margin-left:10px;
}

h3{
    font-size:1.7rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom:5px;
    padding-left:10px;
}

h4{
    font-size:1rem;
    font-weight: 700;
    margin-left: 10px;
    border-bottom: 3px solid #c78b07;
}

p{
    font-size:1rem;
    line-height: 1.5rem;
    padding-top:15px;
    font-weight:400;
    padding-left:10px;
}
/* to place text on top of image*/
.overlaycontainer, overlaycontainer-2{
    position:relative;
}

.welcome-to{
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top:50px;
}

.our-vision{
    color:white;
    position:absolute;
    margin-top:30px;
}

.about{
    background-color: #ffe6ac;
    padding:10px;
}
.about-us{
    width: 100%;
}

.white{
    color:white;
    line-height:1.5rem;
}


.digital, .marketing, .video, .web, .print, .john, .bob{
    width:100%
}

.web{
    width:100%
}


.our-services, .mark, .video-production, .web-development, .print{
    background-color: #ffe6ac;
    margin-top: 20px;
}

.vision{
    width:100%;
    background-image: url(images/vision);
    background-position: center;
}

.john-doe, .bob-rite{
    background-color: #ffe6ac;
    margin-top: 20px; 
    padding-bottom: 20px;
}

button{
    margin:10px 0 10px 10px;
    color:white;
    background-color:#222222;
    font-size:1rem;
    padding:20px 20px 20px 20px;
    border: 0;
}

input{
    display:block;
    width:100%;
}

#send-dark{
    margin:0 0 0 0;
    padding:5px 5px 5px 5px;
    color:#c78b07;
    background-color: #222222;
}
footer{
    margin-top: 20px;
    padding-bottom: 20px;
    color:#c78b07;
    background-color:#222222 ;
}

footer a{
    color:#c78b07;
}

table {
    width:100%;
}

table, tr, td, th{
    border:1px solid black;
    padding:10px;
}
th{
    background-color:#ffe6ac;
}
.google-maps{
    width:100%;
}